@import "tailwindcss";
@plugin "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-sans: "Times New Roman", Times, serif;
}

button[role="tab"] {
  cursor: pointer;
}

button[type="button"]:not(.cursor-not-allowed) {
  cursor: pointer;
}

.two-lines {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  /* số dòng muốn hiển thị */
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.three-lines {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  /* số dòng muốn hiển thị */
  -webkit-box-orient: vertical;
  overflow: hidden;
}